# MongoDB Connection
MONGODB_URI=mongodb+srv://username:password@cluster0.mongodb.net/horas

# API URL
NEXT_PUBLIC_API_URL=http://localhost:3000

# Admin Password (for initial setup)
ADMIN_PASSWORD=admin123